<div class="col-sm-12 AddRoleWraper">
    <div class="row headSection paginationHead">
        <div class="col-sm-8 no-padding">
            <h3 class="page-heading mt-d-inline-block" *ngIf="IsEdit">
                Update Services
                <a routerLink="/home/Service"><i class="fa fa-arrow-circle-left"></i></a>
            </h3>
            <h3 class="page-heading mt-d-inline-block" *ngIf="IsEdit==false">
                New Services
                <a routerLink="/home/Service"><i class="fa fa-arrow-circle-left"></i></a>
            </h3>
        </div>
    </div>
    <div class="col-sm-12 AddNewItem  padding-t-15" style="height: 80vh; overflow: auto;">
        <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)">
            <div class="modal-body bg-secondary">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row form-group">
                            <div class="col-4 text-right">
                                <label class="form-control-label mt-2" for="input-username">Service Name </label>
                            </div>
                            <div class="col-8">
                                <input type="text" id="" formControlName="ServiceName" [(ngModel)]="model.ServiceName" class="form-control form-control-sm form-control-alternative" placeholder="Service Name">
                                <small class="text-danger" *ngIf="Form1.controls.ServiceName.hasError('required') && submitted">
                                    This value is required.
                                </small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4 text-right">
                                <label class="form-control-label mt-2" for="input-username">Speciality</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control" formControlName="SpecialityId" [(ngModel)]="model.SpecialityId">
                                    <option *ngFor="let item of SpecialityList" [value]="item.ID">
                                        {{item.Value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4 text-right">
                                <label class="form-control-label mt-2" for="input-username">Price </label>
                            </div>
                            <div class="col-8">
                                <input type="text" id="" formControlName="Price" [(ngModel)]="model.Price" class="form-control form-control-sm form-control-alternative" placeholder="Price">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4 text-right">
                                <label class="form-control-label mt-2" for="input-username">Reference Code </label>
                            </div>
                            <div class="col-8">
                                <input type="text" formControlName="RefCode" [(ngModel)]="model.RefCode" class="form-control form-control-sm form-control-alternative" placeholder="Ref Code">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-4 text-right">
                            </div>
                            <div class="col-8">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="IsItem" formControlName="IsItem" [(ngModel)]="model.IsItem"(change)="toggleDiv($event)">
                                    <label class="custom-control-label" for="IsItem">Is Consumeable</label>
                                </div>
                            </div>
                        </div>
                        <div class="row"*ngIf="isChecked">
                            <div class="col-sm-12 margin-top10" style="width:92%;">
                                <table class="line-table noramal-padding margin-top10">
                                    <thead class="line-item-header">
                                        <tr>
                                            <th class="line-item-column" style="width:150px;">Item</th>
                                            <th class="line-item-column" style="width:150px;">Quantity</th>
                                            <th class="line-item-column" style="width:130px;"></th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr *ngFor="let dynamic of itemdynamicArray; let i = index;">
                                            <td>
                                                <input type="text" id="txtDrug_{{i}}" class="form-control form-control-sm form-control-alternative" [ngModelOptions]="{standalone:true}" [(ngModel)]="dynamic.ItemName" (click)="LoadItem(i)" placeholder="Search Item" autocomplete="off">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="dynamic.Quantity" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                            </td>
                                            <td class="relative">
                                                <div class="item-actions">
                                                    <span (click)="RemoveRow(i)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon icon-sm icon-cancel-circled cursor-pointer icon-red">
                                                            <path d="M256 32c30.3 0 59.6 5.9 87.2 17.6 26.7 11.3 50.6 27.4 71.2 48s36.7 44.5 48 71.2c11.7 27.6 17.6 56.9 17.6 87.2s-5.9 59.6-17.6 87.2c-11.3 26.7-27.4 50.6-48 71.2s-44.5 36.7-71.2 48C315.6 474.1 286.3 480 256 480s-59.6-5.9-87.2-17.6c-26.7-11.3-50.6-27.4-71.2-48s-36.7-44.5-48-71.2C37.9 315.6 32 286.3 32 256s5.9-59.6 17.6-87.2c11.3-26.7 27.4-50.6 48-71.2s44.5-36.7 71.2-48C196.4 37.9 225.7 32 256 32m0-32C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0z"></path>
                                                            <path d="M284.3 250.3l62.3-62.3c6.2-6.2 6.2-16.2 0-22.4l-.2-.2c-6.2-6.2-16.2-6.2-22.4 0l-62.3 62.3c-3.1 3.1-8.2 3.1-11.3 0L188 165.4c-6.2-6.2-16.2-6.2-22.4 0l-.2.2c-6.2 6.2-6.2 16.2 0 22.4l62.3 62.3c3.1 3.1 3.1 8.2 0 11.3L165.4 324c-6.2 6.2-6.2 16.2 0 22.4l.2.2c6.2 6.2 16.2 6.2 22.4 0l62.3-62.3c3.1-3.1 8.2-3.1 11.3 0l62.3 62.3c6.2 6.2 16.2 6.2 22.4 0l.2-.2c6.2-6.2 6.2-16.2 0-22.4l-62.3-62.3c-3-3.2-3-8.2.1-11.4z"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <button class="btn btn-secondary add-btn btn-xs  margin-top10" style="color:#d64830;" type="button" (click)="Add()">

                                            Add Item
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                <button type="submit" class="btn btn-primary" *ngIf="IsEdit && ControlRights.EditRights">Update</button>
                <button type="button" class="btn btn-red btnDel pull-left" *ngIf="IsEdit && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                <button type="button" class="btn btn-secondary" routerLink="/home/Service">Cancel</button>
            </div>
        </form>
    </div>
</div>
