<!--<app-header-user></app-header-user>-->
<div class="container">
    <div class="row justify-content-center align-items-center" style="vertical-align: top; height:99vh;">
        <div class="col-sm-6 text-center">
            <img src="../assets/app/media/img/icons/checked-checkbox.png" style="max-width:140px; margin-bottom: 20px;" />
            <h3>
                Thanks for signing up.
            </h3>

            <p>
                Welcome to HMS.
                We are delighted to have you with us. We hope you find in our business what you are looking for. Someone from our customer care team will get in touch within 24 hours.


                In the meantime, you can check the FAQ section, or Review our website

            </p>
            <p>
                &copy; 2022

                , All rights reserved | <span>
                    powered by
                    <span *ngIf="PayrollRegion=='PK'">
                        <a href="https://www.easyhms.pk/" class="">hms.pk</a>
                    </span>

                </span>
            </p>
        </div>
      
    </div>
</div>


