<div class="AddRoleWraper">

    <div class="row headSection paginationHead">
        <div class="col-sm-8">
            <div class="row">
                <div class="col max-content">
                    <h3 class="page-heading mt-d-inline-block" *ngIf="IsEdit">
                        Update Patient
                    </h3>
                    <h3 class="page-heading mt-d-inline-block" *ngIf="IsEdit==false">
                        Add New Patient
                    </h3>
                </div>
            </div>

        </div>
        <div class="col-sm-4 text-right flex-row flex-end">
        </div>
    </div>

    <div class="Cardview">
        <div class="row AddNewItem px-4">
            <div class="col-sm-12 mt-2 px-0">

                <ngb-tabset [destroyOnHide]="true">

                    <ngb-tab title="Quick Add">
                        <ng-template ngbTabContent>
                            <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)">
                                <div class="row mt-4">
                                    <div class="col-sm-6">

                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0 required"> Name</label>
                                            </div>
                                            <div class="col-8 d-flex">
                                                <select class="form-control" style="max-width:100px;" formControlName="PrefixTittleId" [(ngModel)]="model.PrefixTittleId">
                                                    <option *ngFor="let item of TittleList" [value]="item.ID">
                                                        {{item.Value}}
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control border-left-0" formControlName="PatientName" [(ngModel)]="model.PatientName" />
                                                <small class="text-danger" *ngIf="Form1.controls.PatientName.hasError('required') && submitted">
                                                    This value is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> Father/Husband</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" formControlName="Father_Husband" [(ngModel)]="model.Father_Husband" class="form-control  form-control-alternative">
                                            </div>
                                        </div>


                                        <div class="row form-group">

                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0 required"> Age</label>
                                            </div>
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <input type="text" formControlName="Age" [(ngModel)]="model.Age" (change)="AgeChange()" class="form-control  form-control-alternative" placeholder="Age">
                                                        <small class="text-danger" *ngIf="Form1.controls.Age.hasError('required') && submitted">
                                                            This value is required.
                                                        </small>
                                                    </div>
                                                    <div class="col-sm-1 p-0 mt-2 text-center">
                                                        OR
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <Datetime-Component formControlName="DOB" placeholder="DD/MM/YYYY" (DateChangeValue)="onDOBChanged($event)" [(ngModel)]="model.DOB">
                                                        </Datetime-Component>

                                                    </div>

                                                    <div class="col-2 text-right">
                                                        <label class="form-control-label mt-2 pl-0" for="input-username"> DOB</label>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0 required" for="input-username"> Gender</label>
                                            </div>
                                            <div class="col-8">
                                                <select class="form-control  form-control-alternative" formControlName="Gender"(change)="GenderChnage(model.Gender)" [(ngModel)]="model.Gender">
                                                    <option *ngFor="let item of GenderList" [value]="item.ID">
                                                        {{item.Value}}
                                                    </option>
                                                </select>
                                                <small class="text-danger" *ngIf="Form1.controls.Gender.hasError('required') && submitted">
                                                    This value is required.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0 required" for="input-username"> Mobile</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="" formControlName="Mobile" [(ngModel)]="model.Mobile"appPhoneMask class="form-control  form-control-alternative" placeholder="Mobile" >
                                                <small *ngIf="Form1.controls.Mobile.hasError('required') && submitted ">
                                                    This value is required.
                                                </small>
                                            </div>
                                        </div>


                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> Email</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="" formControlName="Email" [(ngModel)]="model.Email" class="form-control  form-control-alternative" placeholder="Email">

                                            </div>
                                        </div>
                                        <div class="row form-group" *ngIf="IsCNICMandatory == false">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> CNIC</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="" formControlName="CNIC" [(ngModel)]="model.CNIC" class="form-control  form-control-alternative" placeholder="XXXXX-XXXXXXX-X">

                                            </div>
                                        </div>
                                        <div class="row form-group" *ngIf="IsCNICMandatory==true">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0 required" for="input-username"> CNIC</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="" formControlName="CNIC" [(ngModel)]="model.CNIC" class="form-control  form-control-alternative" placeholder="XXXXX-XXXXXXX-X">
                                                <small class="text-danger" *ngIf="Form1.controls.CNIC.hasError('required') && submitted">
                                                    This value is required.
                                                </small>
                                                <small *ngIf="Form1.controls.CNIC.hasError('pattern') && !Form1.controls.CNIC.hasError('required')">
                                                    CNIC No must follow the XXXXX-XXXXXXX-X format!"
                                                </small>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> MRNO</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="" formControlName="MRNO" [(ngModel)]="model.MRNO" class="form-control  form-control-alternative" placeholder="MRNO" readonly="readonly">
                                                <small class="text-danger" *ngIf="Form1.controls.MRNO.hasError('required') && submitted">
                                                    This value is required.
                                                </small>

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> Bill Type</label>
                                            </div>
                                            <div class="col-8">
                                                <select class="form-control  form-control-alternative" formControlName="BillTypeId" [(ngModel)]="model.BillTypeId">
                                                    <option *ngFor="let item of BillTypeList" [value]="item.ID">
                                                        {{item.Value}}
                                                    </option>
                                                </select>
                                                <small class="text-danger" *ngIf="Form1.controls.Gender.hasError('required') && submitted">
                                                    This value is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-4 text-right">
                                                <label class="form-control-label mt-2 pl-0" for="input-username"> Note</label>
                                            </div>
                                            <div class="col-8">
                                                <textarea type="text" class="form-control m-input" placeholder="Note" formControlName="Notes" [(ngModel)]="model.Notes"></textarea>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-5">
                                        <div class="img-box">
                                            <div class="col-sm-12" *ngIf="model.Image!=''">
                                                <img [src]="PatientImage" class="Img_upload" />
                                            </div>
                                            <File-Component class="UploadActnWrap" [(ngModel)]="model.Image" (ClearModel)="ClearImageUrl()" (FileNameEvent)="getImageUrlName($event)" (IsNewFileEvents1)="IsNewImageEvent($event)" [ImageWithAddress]="true" [ngModelOptions]="{standalone:true}"></File-Component>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                                    <button type="submit" class="btn btn-primary" *ngIf="IsEdit && ControlRights.EditRights">Update</button>
                                    <button type="button" class="btn btn-red btnDel pull-left" *ngIf="IsEdit && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                                    <button type="button" class="btn btn-secondary" routerLink="/home/Patient">Cancel</button>
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Personal Information">
                        <ng-template ngbTabContent>
                            <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)">
                                <div class="row justify-content-between mt-4">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Blood Group
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <select class="form-control " formControlName="BloodGroupId" [(ngModel)]="model.BloodGroupId">
                                                        <option *ngFor="let item of BloodList" [value]="item.ID">
                                                            {{item.Value}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Anniversary Date
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <Datetime-Component formControlName="AnniversaryDate" placeholder="DD/MM/YYYY" (DateChangeValue)="onAnniversaryDateChanged($event)" [(ngModel)]="model.AnniversaryDate">
                                                    </Datetime-Component>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Contact No (Alt)
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <input class="form-control" formControlName="ContactNo" [(ngModel)]="model.ContactNo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Emergency No.
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <input class="form-control" formControlName="EmergencyNo" [(ngModel)]="model.EmergencyNo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Address
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" formControlName="Address" [(ngModel)]="model.Address"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Notes
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" formControlName="Notes" [(ngModel)]="model.Notes"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Referred by
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <input class="form-control" formControlName="ReferredBy" [(ngModel)]="model.ReferredBy" placeholder="Enter Name" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                                    <button type="submit" class="btn btn-primary" *ngIf="IsEdit  && ControlRights.EditRights">Update</button>
                                    <button type="button" class="btn btn-red btnDel pull-left" *ngIf="IsEdit && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                                    <button type="button" class="btn btn-secondary" routerLink="/home/Patient">Cancel</button>
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Health Information">
                        <ng-template ngbTabContent>
                            <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)">
                                <div class="row mt-5">
                                    <div class="col-sm-12 CustomAccordion">

                                        <ngb-accordion [closeOthers]="true" activeIds="static-1">

                                            <ngb-panel id="static-1">
                                                <ng-template ngbPanelTitle>
                                                    <span>
                                                        <img src="../assets/app/media/img/icons/illness.png" class="img-fluid radius">

                                                        Illness
                                                    </span><i class="icon-chevron-right iconImage"></i>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="custom-control custom-checkbox mb-3">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="Illness_Diabetes" [(ngModel)]="model.Illness_Diabetes">
                                                                <label class="custom-control-label" for="customCheck">Diabetes</label>
                                                            </div>

                                                            <div class="custom-control custom-checkbox mb-3 ml-5">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckTuberculosis" formControlName="Illness_Tuberculosis" [(ngModel)]="model.Illness_Tuberculosis">
                                                                <label class="custom-control-label" for="customCheckTuberculosis">Tuberculosis</label>
                                                            </div>

                                                            <div class="custom-control custom-checkbox mb-3 ml-5">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckHeartPatient" formControlName="Illness_HeartPatient" [(ngModel)]="model.Illness_HeartPatient">
                                                                <label class="custom-control-label" for="customCheckHeartPatient"> Heart Patient</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="custom-control custom-checkbox mb-3">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckBloodPressure" formControlName="Illness_BloodPressure" [(ngModel)]="model.Illness_BloodPressure">
                                                                <label class="custom-control-label" for="customCheckBloodPressure">Blood Pressure</label>
                                                            </div>

                                                            <div class="custom-control custom-checkbox mb-3 ml-5">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckMigraine" formControlName="Illness_Migraine" [(ngModel)]="model.Illness_Migraine">
                                                                <label class="custom-control-label" for="customCheckMigraine">Migraine</label>
                                                            </div>

                                                            <div class="custom-control custom-checkbox mb-3 ml-5">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckLungsRelated" formControlName="Illness_LungsRelated" [(ngModel)]="model.Illness_LungsRelated">
                                                                <label class="custom-control-label" for="customCheckLungsRelated">  Lungs related</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="mb-3 col-sm-5 p-0 mt-1">
                                                                <div class="form-group">
                                                                    <input class="form-control" style="max-width: 428px;" placeholder="Other" formControlName="Illness_Other" [(ngModel)]="model.Illness_Other" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </ng-template>
                                            </ngb-panel>

                                            <ngb-panel id="static2">
                                                <ng-template ngbPanelTitle>
                                                    <span>
                                                        <img src="../assets/app/media/img/icons/allergies.png" class="img-fluid radius">

                                                        Allergies
                                                    </span><i class="icon-chevron-right iconImage"></i>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Food" formControlName="Allergies_Food" [(ngModel)]="model.Allergies_Food" />
                                                            </div>

                                                            <div class="form-group mt-3 mb-3">
                                                                <input class="form-control" placeholder="Drug" formControlName="Allergies_Drug" [(ngModel)]="model.Allergies_Drug" />
                                                            </div>

                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Others" formControlName="Allergies_Other" [(ngModel)]="model.Allergies_Other" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>


                                            <ngb-panel id="static3">
                                                <ng-template ngbPanelTitle>
                                                    <span>
                                                        <img src="../assets/app/media/img/icons/habits.png" class="img-fluid radius">

                                                        Habits
                                                    </span><i class="icon-chevron-right iconImage"></i>
                                                </ng-template>
                                                <ng-template ngbPanelContent>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <table class="table table-bordered">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width:200px">
                                                                            <h6>
                                                                                Smoking
                                                                            </h6>
                                                                        </td>

                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Smoking" id="Habits_Smoking" value="N" formControlName="Habits_Smoking" [(ngModel)]="model.Habits_Smoking">
                                                                                <label class="custom-control-label" for="Habits_Smoking">Never</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Smoking" id="Habits_Smoking1" value="O" formControlName="Habits_Smoking" [(ngModel)]="model.Habits_Smoking">
                                                                                <label class="custom-control-label" for="Habits_Smoking1">Occational</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Smoking" id="Habits_Smoking2" value="H" formControlName="Habits_Smoking" [(ngModel)]="model.Habits_Smoking">
                                                                                <label class="custom-control-label" for="Habits_Smoking2">Habitual</label>
                                                                            </div>
                                                                        </td>
                                                                    </tr>



                                                                    <tr>
                                                                        <td>
                                                                            <h6>
                                                                                Drinking
                                                                            </h6>
                                                                        </td>

                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Drinking" id="Habits_Drinking" value="N" formControlName="Habits_Drinking" [(ngModel)]="model.Habits_Drinking">
                                                                                <label class="custom-control-label" for="Habits_Drinking">Never</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Drinking" id="Habits_Drinking1" value="O" formControlName="Habits_Drinking" [(ngModel)]="model.Habits_Drinking">
                                                                                <label class="custom-control-label" for="Habits_Drinking1">Occational</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Drinking" id="Habits_Drinking2" value="H" formControlName="Habits_Drinking" [(ngModel)]="model.Habits_Drinking">
                                                                                <label class="custom-control-label" for="Habits_Drinking2">Habitual</label>
                                                                            </div>
                                                                        </td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td>
                                                                            <h6>
                                                                                Tobacco
                                                                            </h6>
                                                                        </td>

                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Tobacco" id="Habits_Tobacco" value="N" formControlName="Habits_Tobacco" [(ngModel)]="model.Habits_Tobacco">
                                                                                <label class="custom-control-label" for="Habits_Tobacco">Never</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio mr-5">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Tobacco" id="Habits_Tobacco1" value="O" formControlName="Habits_Tobacco" [(ngModel)]="model.Habits_Tobacco">
                                                                                <label class="custom-control-label" for="Habits_Tobacco1">Occational</label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="Habits_Tobacco" id="Habits_Tobacco2" value="H" formControlName="Habits_Tobacco" [(ngModel)]="model.Habits_Tobacco">
                                                                                <label class="custom-control-label" for="Habits_Tobacco2">Habitual</label>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-6 mt-2">
                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Others" formControlName="Habits_Other" [(ngModel)]="model.Habits_Other" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>


                                        </ngb-accordion>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                                    <button type="submit" class="btn btn-primary" *ngIf="IsEdit  && ControlRights.EditRights">Update</button>
                                    <button type="button" class="btn btn-red btnDel pull-left" *ngIf="IsEdit && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                                    <button type="button" class="btn btn-secondary" routerLink="/home/Patient">Cancel</button>
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="Medical History">
                        <ng-template ngbTabContent>
                            <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)">
                                <div class="row mt-4">
                                    <div class="col-sm-7">
                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Past Medical History
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <textarea class="form-control" formControlName="MedicalHistory" [(ngModel)]="model.MedicalHistory"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Family History
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <input class="form-control" formControlName="CurrentMedication" [(ngModel)]="model.CurrentMedication" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 text-right">
                                                <label>
                                                    Surgical History
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <input class="form-control" formControlName="HabitsHistory" [(ngModel)]="model.HabitsHistory" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                                    <button type="submit" class="btn btn-primary" *ngIf="IsEdit  && ControlRights.EditRights">Update</button>
                                    <button type="button" class="btn btn-red btnDel pull-left" *ngIf="IsEdit && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                                    <button type="button" class="btn btn-secondary" routerLink="/home/Patient">Cancel</button>
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>

            </div>
        </div>
    </div>
</div>


