 <div [hidden]="!loader.IsLoading()">
                            <div class="blockUI blockOverlay" style="position: fixed; background: rgba(255,255,255,0.6); z-index: 1105; top: 0; left: 0; right: 0; bottom: 0;"></div>
                            <div class="blockUI blockMsg blockPage" style="position: fixed; z-index: 1105; top: 0; left: 0; right: 0; bottom: 0;">
                                <div class="loading-message loading-message-boxed" style="position: relative; top: 50%; transform: translateY(-50%);">
                                    <img src="../assets/app/media/img/loadergif.gif" style="display: table; margin: 0 auto; width: 230px;" />
                                </div>
                            </div>
						</div>  
 <!--<p>{{name}}</p>-->
<router-outlet></router-outlet>

