
            <div class="row">
                <div class="col-sm-12 grid-box" style="overflow:hidden;">
                    <form [formGroup]="Form" novalidate (ngSubmit)="forgotpass(Form.valid)" action="">
                        <div class="col-sm-offset-3 col-sm-5 grid no-padding-lr shadow-box-t-border margin-t-50">
                            <div class="col-sm-12 text-center">
                                <img class="nav-logo" src="assets\app\media\img\HMS.png" alt="Alternate Text">
                            </div>
                            <div class="col-sm-12 margin-t-30 padding-l-50 padding-r-50">
                                <h3 class="grid-heading">Forgot your password?</h3>
                            </div>
                            <div class="col-sm-12 padding-l-50 padding-r-50">
                                <label style="font-weight: 500;font-size: 15px;" class="text-danger font-14"></label>
                            </div>
                            <div class="col-sm-12 font-16 padding-l-50 padding-r-50">
                                <div class="form-group">
                                    <label style="font-weight: 500;font-size: 15px;">Email Address</label>
                                    <input class="form-control md-input" formControlName="Email" type="text" maxlength="250" placeholder="Email" [(ngModel)]="model.Email">
                                    <small *ngIf="Form.controls.Email.hasError('pattern') && !Form.controls.Email.hasError('required')">
                                        Please enter valid email.
                                    </small>
                                    <small *ngIf="Form.controls.Email.hasError('required') && submitted">
                                        This value is required.
                                    </small>
                                </div>

                                <div class="form-group text-center">
                                    <button class="btn btn-blue" type="submit" value="Verify Email">Continue</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
           