<div class="margin-t-68 removeAction">
    <div class="row headSection paginationHead">
        <div class="col-sm-8">
            <div class="row">
                <div class="col max-content">
                    <h3 class="page-heading mt-d-inline-block">
                        Change Password 
                    </h3>
                </div>
            
            </div>
            
        </div>
        <div class="col-sm-4 text-right flex-row flex-end">
            <span class="closeICon" routerLink="/home/setup" tabindex="0" ng-reflect-router-link="/home/Prescription"><svg xml:space="preserve" class="icon icon-sm" id="Layer_1" version="1.1" viewBox="0 0 512 512" x="0" xmlns="http://www.w3.org/2000/svg" y="0"><path d="M455.2 9.2L256 208.4 56.8 9.2C44.5-3.1 24.6-3.1 12.2 9.2l-2.9 2.9C-3 24.4-3 44.4 9.3 56.7L208.4 256 9.2 455.2c-12.3 12.3-12.3 32.3 0 44.6l2.9 2.9c12.3 12.3 32.3 12.3 44.6 0L256 303.6l199.2 199.2c12.3 12.3 32.3 12.3 44.6 0l2.9-2.9c12.3-12.3 12.3-32.3 0-44.6L303.6 256 502.8 56.8c12.3-12.3 12.3-32.3 0-44.6l-2.9-2.9c-12.5-12.4-32.4-12.4-44.7-.1z"></path></svg></span>
            
        </div>
    </div>

    <div>
    <div class="Cardview fullHeight px-2">
            <div class="row pt-4 ">
                <div class="col-sm-6">
                    <form [formGroup]="Form1" novalidate (ngSubmit)="Save(Form1.valid)" action="" class="PassForm form-horizontal">
                       
                        <div class="row form-group">
                            <div class="col-sm-4 control-label">
                                <label for="usr">Current Password</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" formControlName="CurrentPassword" [(ngModel)]="model.CurrentPassword" maxlength="50" class="form-control m-input">
                                <small *ngIf="Form1.controls.CurrentPassword.hasError('required') && submitted">
                                    This value is required.
                                </small>
                                <small *ngIf="Form1.controls.CurrentPassword.hasError('minlength') && !Form1.controls.CurrentPassword.hasError('required')">
                                    At least 6 chracters
                                </small>
                            </div>
        
                           
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4 control-label">
                                <label for="usr">New Password</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" formControlName="Pwd" [(ngModel)]="model.Pwd" maxlength="50" class="form-control m-input">
                                <div *ngIf="passwordControl?.errors && passwordControl?.touched">
                                    <small *ngIf="passwordControl?.errors?.minLength">Password must be at least 10 characters.</small>
                                    <small *ngIf="passwordControl?.errors?.uppercase">Password must contain at least one uppercase letter.</small>
                                    <small *ngIf="passwordControl?.errors?.lowercase">Password must contain at least one lowercase letter.</small>
                                    <small *ngIf="passwordControl?.errors?.number">Password must contain at least one number.</small>
                                    <small *ngIf="passwordControl?.errors?.specialChar">Password must contain at least one special character.</small>
                                    <small *ngIf="passwordControl?.errors?.commonPassword">Password is too common. Choose a different password.</small>
                                </div>
                            </div>
        
        
                           
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4 control-label">
                                <label for="usr">Confirm Password</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" formControlName="CPassword" [(ngModel)]="model.CPassword" maxlength="50" class="form-control m-input">
                                 <small *ngIf="model.Pwd!=model.CPassword  && submitted">
                                    Password not match.
                                </small>
                            </div>
                        </div>
        

                        <div class="row form-group">
                            <div class="col-sm-4 control-label">
                                
                            </div>
                            <div class="col-sm-8 text-right">
                                <button  class="btn btn-primary mt-2" type="submit"*ngIf="ControlRights.CreateRights">Save</button>
                            </div>
                        </div>

                    </form>
                   
                </div>
            </div>

    </div>

    </div>
    
</div>
