<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
        <form [formGroup]="Form1" novalidate (ngSubmit)="SaveOrUpdate(Form1.valid)" (click)="IsModalClick()">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="grid-heading text-color-skyblue font-weight-400 no-padding">{{model.ID ? 'Edit' : 'Add'}} Departments</h3>
                    <button type="button" class="close mt-modal-close" (click)="Close()" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name*</label>
                        <input type="text" formControlName="DepartmentName" [(ngModel)]="model.DepartmentName" maxlength="250" class="form-control" placeholder="a.g. Accounts Department">
                        <small *ngIf="Form1.controls.DepartmentName.hasError('required') && submitted">
                            This value is required.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-payday-cancel" data-dismiss="modal" #closeModal (click)="Close()">Cancel</button>
                    <button id="saveSchedule" type="submit" class="btn btn-blue" *ngIf="!IsEdit && ControlRights.CreateRights">Save</button>
                    <button type="button" class="btn btn-blue btnDel pull-left" *ngIf="model.ID && !model.Employees && ControlRights.DeleteRights" (click)="Delete()">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>



